/* All Shared styles Properties */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
  .color-green {
    color:#30B868;
  }
 
.color-white{
    color:#ffffff;
}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .text-center{
    display: flex;
    gap: 10px;
    text-align: center;
  }




/* All Main styles Properties */
nav {
    width: 85%;
    max-width: 1600px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px 120px;
  }

  nav .menu {
    display: flex;
    list-style-type: none;
    gap:34px;
    align-items: center;
  }

  nav .menu a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
  }
nav .logo img {
  width: 74%;
  margin: 16px;
}

#button-nav .btn{
    padding-right: 16px 120px;
}

.logo img .menu #button-nav .btn{
    display: flex;
    gap: 346px;
    align-items: center;   
}

#hero-banner {
    /*border: 1px solid red; */
    background-image: url("./images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 674px;
    position: relative;
    background: linear-gradient(rgba(0,0,0,0.7),rgba(0,0,0,0));
}
 .banner-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  
  /* Add styling for the overlay content (e.g., color, alignment) */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Vertically center content */
  align-items: center;      /* Horizontally center content */
  text-align: center;
  padding: 20px;

  }

  .banner-content .banner-inside-content{
   margin: 51px 295px 76px;
  }

  .banner-content .banner-inside-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
  }


  .btn .text-center{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 16px;
    padding: 12px 16px;
    margin-bottom: 84px auto;
    line-height: 50px;
  } 
.btn-2{
  background-color:rgb(69, 66, 66);
  border: none;
  padding: 12px 16px;
  border-radius: 4px;
  font-size: 16px;
  font-weight: bold;
  color: white;
  cursor: pointer;
 }
 /* .icon-img{
  display: inline;
  gap:0.5px;
  justify-content: center;

 
 } */
  #hero-banner .banner-content .banner-inside-content .banner-inside-para{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }

.banner-inside-para p{
    color: #ffffff;
    font-weight: 500;
    font-size: 16px; 
    padding-bottom: 20px;
    text-decoration: none;
  }

  /* for testing  purpose  */
   /* .banner-content button{    
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 16px;
    padding: 5px 3px;
    background-color: #ffffff;
    color: #30B868;
  }  */
 /* #note-section{
     margin-top: 10px;
     padding-bottom: 10px;
  } */

  #note-section .note-container  {
    width: 60%;
    max-width: 1360px;
    margin: 0 auto;
    padding-bottom: 25px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    text-align: center;

  }

  #note-section .note-box {
    display: flex;
    gap: 24px;
    flex-wrap: wrap;
    justify-content: center;
   
}

.note-box .note-card {
 padding: 30px;
 max-width: 322px;
 /* box-shadow: 0 6px 50px 0; */
 border: 1px solid rgb(157, 115, 100);
 border-radius: 5px;
 text-align: center;
}

.note-card img {
   max-width: 44px;
   margin-bottom: 30px;
}

.note-card h3 {
 font-size: 30px;
 color:black;
 margin-bottom: 20px;
}

.note-card p {
 font-size: 16px;
 color: #757575;
 line-height: 28px;
}

#think-section{
  display:block;
  justify-content: center;
  align-items: center;
   width: 100%;
   max-width: 1600px;
  background-color: #F7F6F2;
  text-align: center;
  margin: 0 auto;
  padding-top: 50px;
}
#think-section p{
  font-size: 16px;
  font-weight: 400;
  line-height: 20px;
  text-align: center;
}
/*  Brain information section */
#brain{

}

.brain-section{
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 60px;
  padding-bottom: 120px;
}

.brain-info{
  display: inline;
  flex-direction: row;
  justify-content: flex-start;
  align-items: center;
  gap: 6px;
}
.brain-info p{
  display: block;
  font-size: 16px;
  font-weight: 500;
  text-align: left;
  line-height: 20px;
  
}
/* Footer Section */
#footer{
  padding: 120px 120px 0;
  background-color: #191624;
  color: #ffffff;
}

.footer-container {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 800px;
  padding-bottom: 120px;
  /* width: auto;
  height: 40px; */
  
}
.icons{
  display: inline;
  gap: 2px;
  justify-content: left;
  padding-left: 20px;

}