/* All Shared styles Properties */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
    background-color: #ffffff;
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
  .color-green {
    color:#30B868;
  }

.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .text-center{
    text-align: center;
  }




/* All Main styles Properties */
nav {
    width: 85%;
    max-width: 1600px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px 120px;
  }

  nav .menu {
    display: flex;
    list-style-type: none;
    gap:34px;
    align-items: center;
  }

  nav .menu a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
  }
nav .logo img {
  width: 74%;
  margin: 16px;
}

#button-nav .btn{
    padding-right: 16px 120px;
}

.logo img .menu #button-nav .btn{
    display: flex;
    gap: 346px;
    align-items: center;   
}

 
