/* All Shared styles Properties */
* {
    margin:0;
    padding: 0;
    box-sizing: border-box;
  
}

.inter-font {
    font-family: "Inter", sans-serif;
    font-optical-sizing: auto;
  }
  .color-green {
    color:#30B868;
  }
 
.color-white{
    color:#ffffff;
}

.btn {
    background-color: #30B868;
    border: none;
    padding: 12px 16px;
    border-radius: 4px;
    font-size: 16px;
    font-weight: bold;
    color: white;
    cursor: pointer;
  }

  .text-center{
    display: flex;
    gap: 10px;
    text-align: center;
  }




/* All Main styles Properties */
nav {
    width: 85%;
    max-width: 1600px;
    margin: 16px auto;
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 16px 120px;
  }

  nav .menu {
    display: flex;
    list-style-type: none;
    gap:34px;
    align-items: center;
  }

  nav .menu a {
    font-size: 16px;
    color: black;
    text-decoration: none;
    align-items: center;
    font-weight: 500;
  }
nav .logo img {
  width: 74%;
  margin: 16px;
}

#button-nav .btn{
    padding-right: 16px 120px;
}

.logo img .menu #button-nav .btn{
    display: flex;
    gap: 346px;
    align-items: center;   
}

#hero-banner {
    /*border: 1px solid red; */
    background-image: url("./images/hero-bg.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    width: 100%;
    height: 674px;
    position: relative;
}
 .banner-content{
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 500px;
  
  /* Add styling for the overlay content (e.g., color, alignment) */
  background-color: rgba(0, 0, 0, 0.5); /* Semi-transparent background for readability */
  color: black;
  display: flex;
  flex-direction: column;
  justify-content: center;   /* Vertically center content */
  align-items: center;      /* Horizontally center content */
  text-align: center;
  padding: 20px;

  }

  .banner-content .banner-inside-content{
   margin: 51px 295px 76px;
  }

  .banner-content .banner-inside-content h1{
    font-size: 72px;
    font-weight: 700;
    line-height: 84px;
    text-align: center;
  }

  /* #hero-banner .banner-content .banner-inside-content .banner-inside-para .btn .text-center{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 16px;
    padding: 12px 16px;
    margin-bottom: 84px auto;
  } */

  .btn .text-center{
    display: flex;
    flex-direction: row;
    justify-content:center;
    align-items: center;
    gap: 16px;
    padding: 12px 16px;
    margin-bottom: 84px auto;
  } 

  #hero-banner .banner-content .banner-inside-content .banner-inside-para{
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    gap: 16px;
  }
.banner-inside-para p{
   
    color: #30B868;
    font-weight: 500;
    font-size: 16px; 
    line-height: 19px;
    padding-bottom: 18px;
    /* text-decoration: none; */
  }

  .banner-content button{
    border-radius: 1px;
    display: flex;
    flex-direction: column;
    justify-content:center;
    align-items: center;
    gap: 16px;
    padding: 5px 3px;
    background-color: #ffffff;
    color: #30B868;
  }
